@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";

@import "../node_modules/bulma/sass/elements/form.sass";

html {
  overflow-y: auto;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  padding: 0.5rem 1rem;
  background-color: $dark;
  color: $light;

  .action-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

main {
  flex: 1;
  background-color: $white-ter;
}

.pdf-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .pdf-page {
    box-shadow: 0px 3px 5px -1px $grey-light,0px 5px 8px 0px $grey-light,0px 1px 14px 0px $grey-light;
  }
}
